@{
    ViewBag.Title = "Finish registration";
}

<h2>@ViewBag.Title</h2>

<p style="margin-top:1%">
    Further instructions for completing registration have been sent to the specified email address.
    If you didn't recieve a message please check entered email address.
</p>